/*   Base styles    */

* {
  box-sizing: border-box;
}

.container {
  line-height: 1.6;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

/*    Header     */

.main-header {
  background: linear-gradient(indigo, purple);
  color: #fff;
  padding: 10px 0;
  }

.title, .header-image, .main-nav {
  display: block;
  text-align: center;
  margin: auto;
}

.title {
  font-family: Alegreya, sans-serif;
  font-size: 3em;
}

.main-nav {
  font-family: Alegreya, sans-serif;
  font-size: 1.5em;
  text-decoration: none;
}

.main-nav li {
  margin-bottom: 10px;

}

.main-nav a {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: indigo;

}

.main-nav a:hover {
  color: gold;
}

img {
  padding: 1.5em;
}

/*    Home/About Page   */

.about img {
  width: 80%;
}

.lcfc {
  font-family: 'Alegreya', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-decoration: none;
}

.lcfc a:hover {
  cursor: pointer;
}

.sponsor img {
  width: 50%;
}

/*    Order     */

#taco_table {
  margin: auto;
}

th, td {
  text-align: left;
}

td {
  margin-left: 10px;
}


.button {
  font-size: 1.5em;
  background-color: indigo;
  color: white;
  margin: 15px 0;
}

/*  Cart modal */

.modal {
  display: none;
  height: 250px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: auto;
  border: 3px solid #000;
  background-color: rgb(0,0,0);
  background-color: rgba(255, 255,255,1);
}

.modal-content {
  background color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*    Contact     */

.contact li {
  list-style-type: none;
}

.contact-image {
  width: 90%;
  height: auto;
}

.map {
  margin: auto;
  width: 90%;
  height: auto;
}

/*    Footer     */

footer {
  background-color: indigo;
  color: #fff;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
}

/* Media Queries */

@media (min-width: 769px) {
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .main-nav {
    margin: auto;
  }

  .pages {
    display: inline-flex;
    flex-direction: row;
  }



}
